#
# config classification:category,shortname,short description,priority
#

# category description (from RR tool perspective)
# benign: benign traffic, will be ignored by RR tool
# suspicious: suspicious traffic/activity, must be analyzed by a human security expert, the RR tool will just send a notification to the dashboard
# unknown: unknown traffic/activity, will be ignored by RR tool
# dos: DoS attacks, standard response: block traffic via L4 firewall
# privilege-escalation: privilege escalation attempted or obtained by an attacker on a monitored system, standard response: cut attacker connection to the victim machine via L4 firewall
# malware: generic malware detected on a machine, standard response: isolate the machine to prevent malware from spreading in the network
# info-leak: information leakage, standard response: isolate the machine to block leakage
# network-attack: generic network attack against a monitored resource, standard response: cut attacker connection to the attacked resource via L4 firewall

config classification: benign,not-suspicious,Not Suspicious Traffic,3
config classification: unknown,unknown,Unknown Traffic,3
config classification: suspicious,bad-unknown,Potentially Bad Traffic, 2
config classification: info-leak,attempted-recon,Attempted Information Leak,2
config classification: info-leak,successful-recon-limited,Information Leak,2
config classification: info-leak,successful-recon-largescale,Large Scale Information Leak,2
config classification: dos,attempted-dos,Attempted Denial of Service,2
config classification: dos,successful-dos,Denial of Service,2
config classification: privilege-escalation,attempted-user,Attempted User Privilege Gain,1
config classification: privilege-escalation,unsuccessful-user,Unsuccessful User Privilege Gain,1
config classification: privilege-escalation,successful-user,Successful User Privilege Gain,1
config classification: privilege-escalation,attempted-admin,Attempted Administrator Privilege Gain,1
config classification: privilege-escalation,successful-admin,Successful Administrator Privilege Gain,1

# NEW CLASSIFICATIONS
config classification: unknown,rpc-portmap-decode,Decode of an RPC Query,2
config classification: malware,shellcode-detect,Executable code was detected,1
config classification: suspicious,string-detect,A suspicious string was detected,3
config classification: suspicious,suspicious-filename-detect,A suspicious filename was detected,2
config classification: suspicious,suspicious-login,An attempted login using a suspicious username was detected,2
config classification: unknown,system-call-detect,A system call was detected,2
config classification: unknown,tcp-connection,A TCP connection was detected,4
config classification: malware,trojan-activity,A Network Trojan was detected, 1
config classification: suspicious,unusual-client-port-connection,A client was using an unusual port,2
config classification: suspicious,network-scan,Detection of a Network Scan,3
config classification: dos,denial-of-service,Detection of a Denial of Service Attack,2
config classification: suspicious,non-standard-protocol,Detection of a non-standard protocol or event,2
config classification: unknown,protocol-command-decode,Generic Protocol Command Decode,3
config classification: suspicious,web-application-activity,access to a potentially vulnerable web application,2
config classification: network-attack,web-application-attack,Web Application Attack,1
config classification: unknown,misc-activity,Misc activity,3
config classification: suspicious,misc-attack,Misc Attack,2
config classification: unknown,icmp-event,Generic ICMP event,3
config classification: suspicious,inappropriate-content,Inappropriate Content was Detected,1
config classification: suspicious,policy-violation,Potential Corporate Privacy Violation,1
config classification: suspicious,default-login-attempt,Attempt to login by a default username and password,2

# Update
config classification: suspicious,targeted-activity,Targeted Malicious Activity was Detected,1
config classification: network-attack,exploit-kit,Exploit Kit Activity Detected,1
config classification: suspicious,external-ip-check,Device Retrieving External IP Address Detected,2
config classification: malware,domain-c2,Domain Observed Used for C2 Detected,1
config classification: suspicious,pup-activity,Possibly Unwanted Program Detected,2
config classification: suspicious,credential-theft,Successful Credential Theft Detected,1
config classification: suspicious,social-engineering,Possible Social Engineering Attempted,2
config classification: malware,coin-mining,Crypto Currency Mining Activity Detected,2
config classification: malware,command-and-control,Malware Command and Control Activity Detected,1
